.client-img{
   width: 20%;
   height: 60px;
   display: flex;
   position: relative;
    
}
.client-star{
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
}
.spaces{
    margin: 10px 0px 10px 0px;
}
.group{
    width: 14%;
    height: 13px;
    margin-top: 40px;
    float: left;
}
.left-image{
    
  margin-top: 30px;
    width: 10%;
   
}
@media (max-width:480px){
    .client-info{
        margin-top: 50px;
    }
    .left-image{
        margin-top: 0;
    }
}